

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container">
  <h3> Register</h3>
  <div class="input-group">
    <label for="firstName">
      first Name
    </label>
    <input id="firstName" type="text" formControlName="firstName" placeholder="First Name" required>
  </div>
  <div class="input-error">firstname error</div>
  <div class="input-group">
    <label for="lastName">
      last Name
    </label>
    <input id="lastName" type="text" formControlName="lastName" placeholder="Last Name" required>
  </div>
  <div  class="input-error">last name error</div>
  <div class="input-group">
    <label for="emailAddress"> EmailAddress  </label>
    <input id="emailAddress" type="email" formControlName="emailAddress" placeholder="Email address" required>
  </div>
  <div  class="input-error">email address error error</div>
  <div class="input-group">
    <label for="password">
      Password
    </label>
    <input id="password" type="password" formControlName="password" placeholder="Password" required>
  </div>
  <div  class="input-error">password error</div>

  <button class="button" type="submit">Register</button>

</form>
<p class="hidden"> status of form</p>

<style>
  .form-container {
    width : 500px;
    margin : 50px auto;
    color :  #001F5B;
    display : flex;
    flex-direction : column;
    gap : 25px;
 
  }
  h3 {
    font-size : 40px;
    font-weight : 600;
  }
  .input-group {
    display : flex;
    flex-direction : column;
    gap : 5px;
  }
  label {
    font-size : 20px;
    color : #001F5B;
    font-weight : 600;
    text-transform : capitalize;
    display : none;
    display : none;
  }
  input {
    width : 500px;
    height : 35px;
    border : none;
    border-bottom : 1px solid #EFEFF0;
    padding-bottom : 10px;
    outline : none;
  }
    input:focus {
      border-bottom: 1px solid #C8C8D2;
    }
  .input-error {
    display : none;
  }

  .button {
    width : 100%;
    height : 44px;
    background : #0096FA;
    display : flex;
    justify-content : center;
    align-items : center;
    font-weight : 600;
    font-size : 18px;
    color : #FFF;
    border : none;
    margin-top : 25px;
    border-radius : 4px;
  }

  .hidden {
    display : none;
  }
</style>
